@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Arvo';
        src: url('../font/Arvo.woff2') format('woff2'),
             url('../font/Arvo.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Arvo';
        src: url('../font/Arvo-BoldItalic.woff2') format('woff2'),
             url('../font/Arvo-BoldItalic.woff') format('woff');
        font-weight: bold;
        font-style: italic;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Alata';
        src: url('../font/Alata-Regular.woff2') format('woff2'),
             url('../font/Alata-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Arvo';
        src: url('../font/Arvo-Italic.woff2') format('woff2'),
             url('../font/Arvo-Italic.woff') format('woff');
        font-weight: normal;
        font-style: italic;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Arvo';
        src: url('../font/Arvo-Bold.woff2') format('woff2'),
             url('../font/Arvo-Bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Comfortaa';
        src: url('../font/Comfortaa-SemiBold.woff2') format('woff2'),
             url('../font/Comfortaa-SemiBold.woff') format('woff');
        font-weight: 600;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Comfortaa';
        src: url('../font/Comfortaa-Bold.woff2') format('woff2'),
             url('../font/Comfortaa-Bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Comfortaa';
        src: url('../font/Comfortaa-Regular.woff2') format('woff2'),
             url('../font/Comfortaa-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Comfortaa';
        src: url('../font/Comfortaa-Medium.woff2') format('woff2'),
             url('../font/Comfortaa-Medium.woff') format('woff');
        font-weight: 500;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Comfortaa';
        src: url('../font/Comfortaa-Regular.woff2') format('woff2'),
             url('../font/Comfortaa-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    
    @font-face {
        font-family: 'Comfortaa';
        src: url('../font/Comfortaa-Light.woff2') format('woff2'),
             url('../font/Comfortaa-Light.woff') format('woff');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    h1 {
        font-family: 'Arvo';
        @apply text-4xl;

        
    }
    
    h2{
        font-family: 'Arvo';
        @apply my-6 text-3xl font-bold;
    }

    h3{
        font-family: 'Alata';
    }
    
    p{
        font-family:'Comfortaa';
    }

    #accueil{
    }

    .swiper-header{
        @apply w-full;
        height:40rem;
        overflow:hidden;
    }

    .header-pagination{
        @apply flex flex-col;
        top:50%;
        transform:translateY(-50%);
        z-index:10;

    }

    .header-bullets{
        @apply w-6 h-6 mx-2 relative;

    }

    .header-bullets-active{
        @apply w-6 h-6;
        color:yellow;
    }

    .header-bullets-active:after{
        @apply bg-yellow-500 absolute;
        content:"";
        bottom:0;
        left:12px;
        width:12px;
        height:2px;


    }

    #encard-header{
        background : linear-gradient(rgba(254,46,21,.8), rgba(254,46,21,.8));
        left:0;
        top:0;
        z-index:10;
    }
    
    #actu{

    }

    .article{
        @apply mr-8;
        overflow:hidden;
    }

    .article > h3{
        z-index:1;
        @apply py-6 bg-blue-500 absolute top-0 w-full text-2xl font-bold;
    }

    .article > p{
        position: absolute;
        top: -50px;
        opacity: 0;
        
      }

    .article:hover > p {
        background-color : rgba(255,255,255,0.80);
        transform: translateY(120px);
        opacity: 1;
        transition-duration: 0.5s;
        transition-timing-function: ease-out;
        
    }

    .article:hover > img{
        object-position:5%;
        filter: grayscale(1) contrast(1.5);
        transition-duration: 0.5s;
        transition-timing-function: ease-out;
        
    }

    
    .titre-programme{
        @apply py-6 pl-12 text-2xl font-bold bg-white absolute;
        box-shadow: 10px 10px 0px 0px rgba(13,99,225,1);
        opacity:0;
        left:20rem;
        top:3rem;
    }

    .titre-programme > h3{
        top: -2rem;
        right: 0;
        font-size: xxx-large;
        font-family: 'Arvo';
    }

    #programmation:hover > div.titre-programme{
        @apply py-6 text-2xl font-bold bg-white absolute;
        box-shadow: 10px 10px 0px 0px rgba(13,99,225,1);
        opacity:1;
        left:32rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 50rem;
        background-color: #fff;
        position: absolute;
        box-shadow: 10px 10px 0px 0px rgba(13,99,225,1);
        opacity:1;
        left: 40rem;
        top:3rem;
        z-index: 1;
        transition:0.5s;
        }

    .encart-prog{    

        right: 0;
        top: 0;
        background: yellow;
        width: 100%;
        height: 100%;
        transition:0.5s;
    }

    

    #programmation:hover > .programme{
        overflow: hidden;
    }

    #programmation:hover > .programme > div.encart-prog{
        width: 47rem;
    }

    .encart-prog:after{
        content:"";
        position:absolute;
        left:0;
        top: 0;
        background: yellow;
        width: 47rem;
        height: 100%;
        
    }

    #programmation:hover > .programme > div.encart-prog:after{
        content:"";
        position:absolute;
        left:-5rem;
        top: 0;
        background: yellow;
        width: 38rem;
        height: 100%;
        transform: skewX(-10deg);
        transition:0.5s;
    }
  

    .liste-film{
        top:8rem;
        right:15rem;
        opacity:0;
    }

    /* #programmation:hover > .programme > .liste-film{
        opacity:1;
        right:8rem;
        transition:1s;
    
    } */

    #programmation:hover > .programme > .liste-film:first-child{
        opacity:1;
        right:8rem;
        transition:0.5s;
    }

    #programmation:hover > .programme > .liste-film:nth-child(2){
        opacity:1;
        right:8rem;
        transition:0.5s;
        transition-delay:0.5s;
    }

    #programmation:hover > .programme > .liste-film:nth-child(3){
        opacity:1;
        right:8rem;
        transition:0.5s;
        transition-delay:0.7s;
    }

    #programmation:hover > .programme > .liste-film:nth-child(4){
        opacity:1;
        right:8rem;
        transition:0.5s;
        transition-delay:0.9s;
    }

        



   

}



